* {
    margin: 0;
    padding: 0;
}

#login-heading,
#transakcije-heading {
    font-size: 60px;
    font-family: Arial;
    padding-top: 60px;
}

#username {
    width: 280px;
}

#password {
    width: 280px;
}

.login-username {
    margin-top: 20px;
    margin-left: 90px;
}

#loginbutton,
#addbutton {
    margin-top: 20px;
    margin-left: 90px;
}

.table-transakcije {
    width: 90%;
    margin-left: 100px;
    margin-top: 30px;
}

#form {
    margin-left: 30px;
    margin-top: 30px;
    width: 30%;
}

#buttonadd {
    margin-left: 100px;
}

#datum_input {
    margin-top: 10px;
    margin-left: 100px;
    width: 300px;
}